{{#if records}}
<table>
  <thead>
    <th>App_id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Rating</th>
    <th>No. of installs</th>
  </thead>
  {{#each records}}
    <tr>
      <td>{{this.app_id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.installs}}</td>
    </tr>
  {{/each}}

</table>

<form class="" action="/search" method="get">
  <input type="hidden" name="offset" value="-10">
  <input type="hidden" name="searchQuery" value="{{searchQuery}}">
  <button type="submit">Back</button>
</form>

<form class="" action="/search" method="get">
  <input type="hidden" name="offset" value="10">
  <input type="hidden" name="searchQuery" value="{{searchQuery}}">
  <button type="submit">Next</button>
</form>
{{else}}
<h1>No results</h1>
{{/if}}
<!-- add two buttons to move the page -->
<!-- limit and offset -->
